<div class="mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 lg:px-8">
  <div class="text-left">
    <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
      <span class="ml-2 text-6xl">🪴</span>
      <span class="text-indigo-600">PiCU</span>
    </h1>
  </div>
</div>
