<div id="notices" class="my-2">
  <div id="flash_messages">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
  </div>
</div>
