<div id="notices" class="my-2">
  <div id="flash_messages">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
  <% if alert %>
    <div class="border-container-red">
      <span class="text-red-900"></span>
      <span class="ml-2 text-gray-700">
        <%= alert %>
      </span>
    </div>
  <% end %>
</div>
